* {
    box-sizing: border-box;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  
  /*
  * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } 
  */
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Pacifico', cursive;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#logoAttribution {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 80%;
    max-height: 800px;
    max-width: 800px;
}

#enterNameScreen {
    display: none;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#enterNameScreen-Join {
    display: none;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#enterNameJoinForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

#errorMsg, #nameTakenErrMsg {
    font-size: 2em;
    margin: 1em 1em;
    color: red;
}

#submitNameButton-Join {
    display: flex;
    width: auto;
    margin: 1em 1em;
    font-size: 2em;
}

#userNameJoin{
    margin: .2em;
}

#submitNameButton {
    display: flex;
    width: auto;
    font-size: 2em;
    margin: 1em;
}

#enterNameCreateForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em;
    margin: 1em 1em;
}

#enterNameScreen-Join {
    display: none;
}

#gameScreen {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#gameScreen #display {
    border-radius: 3px;
}

#playersContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

#playersContainer h2{
    font-size: 4em;
}

#playersContainer ul, h2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#playersContainer li{
    font-size: 3em;
    display: list-item;
    margin: .1em;
    width: 50%;
    text-align: center;
}

#initialScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: inherit;
    height: 60vh;
    width: 95vw;
}

#initialScreen h1 {
    font-size: 3em;
}

#initialScreen #initialForms {
    display: flex;
    height: 30em;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


#initialScreen button {
    font-size: 2em;
}

#initialJoinForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#initialJoinForm label {
    margin: 0.5em 0.5em;
}

#initialJoinForm input {
    display: flex;
    width: 50%;
}

#initialScreen button {
    margin: 1em 1em;
    width: auto;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid black;
}

.disabled-reset {
    background: grey;
}

.enabled-reset {
    background-image: linear-gradient(
  330deg,
  hsl(237deg 100% 50%) 0%,
  hsl(234deg 94% 54%) 7%,
  hsl(230deg 87% 54%) 15%,
  hsl(226deg 81% 53%) 23%,
  hsl(220deg 76% 51%) 31%,
  hsl(212deg 80% 47%) 39%,
  hsl(221deg 62% 56%) 48%,
  hsl(249deg 55% 63%) 57%,
  hsl(274deg 57% 61%) 67%,
  hsl(292deg 60% 58%) 77%,
  hsl(305deg 74% 57%) 88%,
  hsl(310deg 100% 50%) 100%
);
}

#reset {
    font-size: 3em;
    width: 200px;
    border-radius: .5em;
    margin: 1em 1em;
    cursor: pointer;
    display: none;
}

#nameInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

label{
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input{
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: .25em;
    background: lightgrey;
    font-family: Nunito;
    font-size: 3em;
}

#display{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    overflow-y: auto;
}

#chat-window{
    overflow: auto;
    background: #f9f9f9;
}

#output {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    height: 200px;
}

#output p{
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 14px 0px;
    margin: 0 20px;*/
    color: #555;
    height: 100%;

}

#output #nameText {
    color: #575ed8;
    margin: 0 .3em;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 1em;
    border: 0;
    padding: 1em 1em;
    width: 100%;
    border-radius: .5em;
}

.disabled-buzz {
    background: grey;
}

.enabled-buzz {
    background-image: linear-gradient(
        330deg,
        hsl(0deg 100% 32%) 0%,
        hsl(360deg 100% 37%) 27%,
        hsl(360deg 100% 42%) 61%,
        hsl(360deg 100% 47%) 78%,
        hsl(5deg 100% 56%) 88%,
        hsl(7deg 100% 64%) 94%,
        hsl(5deg 100% 72%) 97%,
        hsl(0deg 89% 78%) 100%
    );
}

#buzz {
    border-radius: 500px;
    width: 400px;
    height: 400px;
    margin: 2em;
    font-size: 3em;
    cursor: pointer;
    
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }